<!doctype html>
<html>
<head>    
    <meta charset=utf-8>
    <title>Idle Software Development Startup Simulator</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        
    <script src="static/settings.js"></script>
    <script src="js/Global.js"></script>
    <script src="js/nebulas.js"></script>
    <script src="js/nebPay.js"></script>
    <script src="js/HardlyNeb.js"></script>
    <script src="js/Template.js" defer="true"></script> 
    <script src="js/Game.js" defer="true"></script> 
    
</head>
<body>
    
    
    <div class="container mt-5">
        <div id="header"></div>
            <span  id="body">
        <div id="backdrop" v-on:click="show_buy_options=false" v-if="show_buy_options"></div>
        
        <div class="row">
            <div class="col-4">
                Valuation:
                <span id="gold">{{ display_resources | resources }}</span>
                <br>
                <button id="redeem" class="btn btn-secondary" 
                v-bind:disabled="1000 > display_value"
                v-on:click="redeemNas()">
                Sell Out
                <br>
                {{ display_value | nas }}
            </button>
        </div>
            <div class="col-4 text-center">
                <div class="col-12">
                    <a href="#"  v-if="!show_buy_options" v-on:click="show_buy_options = true">Invest $NAS</a>
                </div>

                <div class="modal-mask" v-if="show_buy_options"  id="buy-options-modal">
                        <div class="modal-wrapper">
                          <div class="modal-container">
                  
                            <div class="modal-header">
                            <h6>How Much To Spend</h6>   
                              <button type="button" class="close" v-on:click="show_buy_options = false" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                  
                            <div class="modal-body">
                              <slot name="body">
                                    <label for="nas-to-spend">
                                        NAS:
                                    </label>
                                    <input type="number" id="nas-to-spend" v-model="nas_to_spend" step="0.0001" class="mt-2">
                                    <div id="benefit">
                                        Adds <span>{{ nas_to_spend * (10 ** 18) / info.buy_price_nas_per_resource | resources }}</span> to your valuation.
                                    </div>
                                    <button class="btn btn-primary" v-on:click="buyWithNas(nas_to_spend)">Buy Now</button>
                                    <br><div id="fine-print">100% of nas spent on the game will be given back to players who 'cash out'.  Good luck finding the best time to sell out.</div>
                              </slot>
                            </div>
                          </div>
                        </div>
                      </div>

            </div>
            <div class="col-4 text-right">
                    Growth Rate: 
                <span id="production-rate-box">
                    {{ info.my_production_rate * (1 + info.my_bonus/100) | rate }}
                </span>
                <br>
                <span id="growth-details">
                    {{ info.my_production_rate | rate }} production + {{ info.my_bonus | bonus }} bonus
                </span>
            </div>
        </div>

        
        <div id="items" class="row mt-3">
            <div class="col item" v-for="item in info.items">
                <h5 class="text-center">{{ item.name }}</h5>
                <h6 class="text-center item-production">
                    <span v-if="item.user_item_production">Producing {{ item.user_item_production | rate}}</span>
                    <span v-else>Current Bonus: {{ item.user_item_bonus | bonus }}</span>
                    ({{ item.user_holdings | count }})
                </h6>
                <div class="row text-center">
                    <div class="col">
                        <span v-if="item.resources_per_s != null">
                            Expected Growth: {{ item.resources_per_s | rate }}
                        </span>
                        <span v-else>
                            Bonus: +{{ item.bonus_multiplier | bonus }}
                        </span> 
                        <hr>
                        Buy For: {{ item.user_price | resources }}
                    </div>
                </div>
                <div class="row mt-2 buy-options justify-content-center">
                    <button class="btn btn-secondary buy buy-1" v-on:click="buy(item.name, 1)" v-bind:disabled="item.user_max_can_afford < 1">
                        1
                    </button>
                    <button class="btn btn-secondary buy buy-1" v-on:click="buy(item.name, 25)" v-bind:disabled="item.user_max_can_afford < 25">
                        25
                    </button>
                    <button class="btn btn-secondary buy buy-1" v-on:click="buy(item.name, 100)" v-bind:disabled="item.user_max_can_afford < 100">
                        100
                    </button>
                    <button class="btn btn-secondary buy buy-1" v-on:click="buy(item.name, 500)" v-bind:disabled="item.user_max_can_afford < 500">
                        500
                    </button>
                    <button class="btn btn-secondary buy buy-max" v-on:click="buy(item.name)" v-bind:disabled="item.user_max_can_afford < 1">
                        Max ({{ item.user_max_can_afford | count }})
                    </button>
                </div>
            </div>
        </div> 
        
    </span>
        <div id="footer"></div>
    </div>


</body>
</html>